#MInventoryUI {
	-fx-background-color: rgba(255, 255, 255, 1);
	-fx-padding: 5;
}

/*#PreviewView {
    -fx-background-color: rgba(20, 20, 20, 1);
}*/

#borderlessPane {
	-fx-background-color: transparent;
}

#topBarView {
	-fx-padding: 0 0 5 0;
}

#detailedViewGrid {
	-fx-padding: 10;
}

#overlay_Background {
    -fx-effect: dropshadow(two-pass-box , darkgray, 40, 0.0 , 0, 0) ;
	-fx-background-color: white; /*derive(lightgrey, -20%);*/
	-fx-alignment: top-center ;
  	-fx-background-insets: 40;
 	-fx-background-radius: 10;
}

#overlay_Container {
	-fx-padding: 40;
  	-fx-spacing: 40;
  	-fx-alignment: top-center;
  	-fx-background-color: white; /*linear-gradient(derive(lightgrey, 20%), lightgrey); */
 	-fx-background-insets: 40;
  	-fx-background-radius: 10;
	-fx-alignment: top-center;
}


#styledButton {
	-fx-background-color: white;
	-fx-border-width: 1;
	-fx-border-color: #CBCBCB;

	-fx-border-radius: 5;
	-fx-background-radius: 5;
}
#styledButton:hover {
	-fx-background-color: #FEFEFE;
	-fx-border-color: darkslategrey;
}
#styledButton:pressed {
	-fx-background-color: grey;
	-fx-border-color: darkslategrey;
}
#styledButton:focused {
	-fx-background-color: whitesmoke;
	-fx-border-color: darkslategrey;
}

#styledImmersiveButton {
	-fx-background-color: transparent;
	-fx-text-fill: #DEDEDE;
	-fx-border-width: 1;
	-fx-border-color: white;
	-fx-border-radius: 4;
	-fx-background-radius: 4;
}
#styledImmersiveButton:hover {
	-fx-background-color: rgba(255, 255, 255, 0.2);
}
#styledImmersiveButton:pressed {
	-fx-background-color: rgba(255, 255, 255, 0);
}
#styledImmersiveButton:focused{
	-fx-background-color: rgba(255, 255, 255, 0.1);
}

.slider {
	-fx-background-color: transparent;
	-fx-border-color: transparent;
}