#MInventoryUI {
	-fx-background-color: rgba(255, 255, 255, 1);
	-fx-padding: 5;
}

#PreviewView {
    -fx-background-color: rgba(20, 20, 20, 1);
}

#topBarView {
	-fx-padding: 0 0 5 0;
}

#detailedViewGrid {
	-fx-padding: 10;
}

#overlay_Background {
    -fx-effect: dropshadow(two-pass-box , darkgray, 40, 0.0 , 0, 0) ;
	-fx-background-color: white; /*derive(lightgrey, -20%);*/
	-fx-alignment: top-center ;
  	-fx-background-insets: 40;
 	-fx-background-radius: 10;
}

#overlay_Container {
	-fx-padding: 40;
  	-fx-spacing: 40;
  	-fx-alignment: top-center;
  	-fx-background-color: white; /*linear-gradient(derive(lightgrey, 20%), lightgrey); */
 	-fx-background-insets: 40;
  	-fx-background-radius: 10;
	-fx-alignment: top-center;
}


#styledButton {
	-fx-background-color: #8bc6f7;
	-fx-border-width: 2;
	-fx-border-radius: 3;
	-fx-border-color: #34302d;
	-fx-background-radius: 4;
}

#styledButton:hover {
	-fx-background-color: #dfe9ff;
}

#styledButton:pressed {
	-fx-background-color: #7ba4ca;
}